body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #373de6;
    color: rgb(16, 2, 2);
    padding: 20px;
}

header nav a {
    color: rgba(255, 255, 255, 0.103);
    text-decoration: none;
    margin-right: 10px;
}

.horario {
    background-color: #f4f4f4;
    padding: 20px;
}

.categorias {
    padding: 20px;
}

.categoria {
    display: inline-block;
    margin-right: 20px;
}

.panoramas {
    background-color: #d21111;
    padding: 20px;
}

.linea {
    display: flex;
    justify-content: space-between;
}

.panorama {
    flex-basis: 30%;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

  